.w-100 {
    width: 100%;
}

.center {
    text-align: center;
    margin: auto;
}

button {
    background: transparent;
    border: none;
}

.w-35 {
    width: 35% !important;
}

.w-55 {
    width: 55% !important;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-85 {
    width: 85% !important;
}

.w-90 {
    width: 90% !important;
}

.w-92 {
    width: 92% !important;
}

.p-4 {
    padding: 4vw;
}

.tabr2 {
    grid-template-columns: 49% 49%;
    display: grid !important;
    margin: auto;
    gap: 2%;
}

.tabr2 button {
    outline: none;
    filter: grayscale(1);
}

.tabr2 button:hover {
    /* background-color: gray; */
}

.tabr2 button.active {
    background: transparent;
    border: none;
    filter: grayscale(0);
}